.card {
	width: 270px;
	height: 310px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-shadow: 0 5px 5px  rgba(0,0,0,0.3);
	padding: 20px;
	border-radius: 15px;
	margin-bottom: 15px;
}

.icon {
	width: 50px;
}

.card.-portfolio {
	margin-bottom: 50px;
	min-width: 400px;
	min-height: 430px;
}

.card.-portfolio.-margin {
	margin-top: 100px;
}

@media screen and ( max-width: 900px) {
	.card {
		width: calc(100% - 30px);
		display: flex;
		align-items: center;
		justify-content: space-around;
	}

	.icon {
		display: none;
	}

	.card.-portfolio {
		margin-right: auto;
		margin-left: auto;
	}
}

@media screen and ( max-width: 500px) {
	.card.-portfolio {
		min-width: 200px;
	}

	.card.-portfolio.-margin {
	margin-top: 0;
}
}
