.title.-CTA {
	width: 350px;
}

.mail {
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	align-items: flex-end;
}

@media screen and (max-width: 900px) {
	.main {
		align-items: center;
	}
}