.header {
	padding: 25px 0;
}

.header__left {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 590px;
}

.header__right {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 370px;
}

@media screen and (max-width: 1100px) {
	.num {
		display: none;
	}

	.btn.-contact {
		font-size: 10px;
	}

	.header__right {
		display: flex;
		justify-content: flex-end;
	}