.portfolio__img {
	width: 360px;
}

.portfolio__bottom {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

@media screen and (max-width: 900px) {
	.portfolio__left {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

@media screen and (max-width: 450px) {
	.portfolio__img {
	width: 300px;
}
}