.section {
	min-height: 100vh;
	background-repeat: no-repeat;
}

.section.-main {
	background-image: url(../img/main__bg.png);
	background-position: right top;
	background-size: 550px;
}

.section.-partners, .-services, .-about_us, .-portfolio {
	min-height: 0;
	padding-bottom: 70px;
}

.section.-testimonials {
	background: linear-gradient(to bottom, #FFFFFF, #F2F9FF);
	position: relative;
}

@media screen and ( max-width: 900px) {
	.section.-main {
		min-height: auto;
		background-size: 300px;
	}

	.section.-partners {
		display: flex;
		flex-direction: column;
	}

	.section.-testimonials {
		background: none;
	}

	.footer {
		padding-top: 240px;
	}
}

@media screen and ( max-width: 450px) {
	.section.-about_us {
		padding-bottom: 200px;
	}
}
