:root {
	--c-white: #fff; 
 	--c-black: #000;
 	--c-nav: #1E266D;
 	--c-light_nav:#3751FF;
 	--c-btn_bg:#3751FF;
 	--c-red:#FF2E6A;
 	--c-light_red:#F9F3FE;
 	--c-light_gray:#455880;
 	--c-serv_bg:#F2F9FF;
 	--c-review:#455880;
 	--c-mail:#0076EE;

}